

.top {
  background-color: #E1F2FB;

}
.middle {
  background-color: red;
  width: 200px;
  height: 200px;
}
.bottom {
  background-color: blue;
  width: 200px;
  height: 200px;
}
.meet{
  text-decoration: underline;
  text-emphasis:
}
